body{
    background-color: rgb(81, 76, 112);
}
.accordion {
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
  margin-top: 50px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
#app-title{
    font-family: cursive;
    text-align: center;
}
#form{
    background-color:  darkslateblue;
    text-align: center;
    padding:50px;
    width: fit-content;
    margin:0 auto;
    border:2px solid grey;
    color:white;


}
label{  
    display:block;
}
h2{
    text-align: center;
    color:white
}
#solution-container{
  
    text-align: center;
    color:white
}
input[type=submit]{
  cursor:pointer;
  border: 1px solid grey;
  border-radius: 10%;
}
input[type=submit]:hover{
  background-color:rgb(84, 158, 158) ;
}